@{
    ViewBag.Title = "_LayoutRFID";
    Layout = "~/Views/Shared/_LayoutRFID.cshtml";
}
@model int

<div ng-controller="mainController" ng-init="RFIDGETDATA(@Model)">

    <div class="container d-flex justify-content-center align-items-center vh-100" ng-show="StartCheck==1 ">
        <butfton class="btn custom-btn" ng-click="ClickStart()">START</butfton>
    </div>

    <div class="row m-2" ng-show="StartCheck==2">
        <div class="card">
            <div class="card-body">
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-borderless table-nowrap table-centered mb-0">
                                <thead class="table-light border-dark border-2">
                                    <tr>
                                        <th class="text-left">ProductName</th>
                                        <th class="text-center">Size</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in groupedProducts()">
                                        <td class="text-left text-nowrap">
                                            {{product.ProductName}}
                                        </td>
                                        <td class="text-center text-nowrap">
                                            {{product.Size}}
                                        </td>
                                        <td class="text-center text-nowrap">
                                            {{product.Prices  | currency:''}}
                                        </td>
                                        <td class="text-center text-nowrap">
                                            {{ product.TotalQuantity}}
                                        </td>
                                        <td class="text-center text-nowrap">
                                            {{product.TotalPrice  | currency:''}}
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot class="border-top">
                                    <tr>
                                        <td class="text-left text-nowrap font-22"><strong>TotalQty : {{totalQtys}}</strong></td>
                                        <td class="text-center text-nowrap"><strong></strong></td>
                                        <td class="text-center text-nowrap"></td>
                                        <td colspan="2" class="text-end font-22"><strong>TotalAmount : {{TotalsData  | currency:''}}</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
