@{
    ViewBag.Title = "New Quotations";
    Layout = "~/Views/Shared/_LayoutHOMEData.cshtml";
}

@model int

<div ng-controller="mainController" ng-init="GetOrderInfo(@Model)">
    <div class="text-center mb-3  p-3">

        <h1 class="page-title">Order Informations</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive  p-3">
                        <table id="dataTables" class="display table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="text-center">Order Number</th>
                                    <th class="text-center">Order Date</th>
                                    <th class="text-center">Ship Date</th>
                                    <th class="text-center">Qty</th>
                                    <th class="text-center">Order Status</th>
                                    <th class="text-center">View</th>
                                    <th class="text-center">Attachments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in dataOrders">
                                    <td>{{ item.OrderNumber }}</td>
                                    <td>{{ formatDate(item.OrderDate) | date:'dd/MM/yyyy' }}</td>
                                    <td>{{ formatDate(item.ShipDate) |date:'dd/MM/yyyy' }}</td>
                                    <td>{{ item.TotalQty }}</td>
                                    <td>{{ item.OrderStatus }}</td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#OrderDetails" ng-click="openModal(item.OrderNumber);">
                                            View
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success" ng-click="GetFilesData(item.OrderNumber , @Model);">
                                            Files
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal fade" id="OrderDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-form-label text-bold">Order Number</label>
                                            <input type="text" class="form-control" ng-model="modalData.OrderNumber" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-form-label text-bold">Order Date</label>
                                            <input type="text" class="form-control" ng-model="modalData.OrderDate" readonly  ng-value="modalData.OrderDate | date:'dd/MM/yyyy'">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-form-label text-bold">Ship Date</label>
                                            <input type="text" class="form-control" ng-model="modalData.ShipDate" readonly ng-value="modalData.ShipDate | date:'dd/MM/yyyy'">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-form-label text-bold">Total Quantity</label>
                                            <input type="text" class="form-control" ng-model="modalData.TotalQty" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-form-label text-bold">Order Status</label>
                                            <input type="text" class="form-control" ng-model="modalData.OrderStatus" readonly>
                                        </div>
                                    </div>

                                    @* table *@
                                    <div class="col-md-12">
                                        <label class="col-form-label text-bold">Product list</label>

                                    </div>


                                    <div class="card">
                                        <div class="card-body">

                                            <div class="table-responsive">
                                                <table class="table table-striped dt-responsive nowrap w-100">
                                                    <thead>
                                                        <tr>

                                                            <th>Style name</th>
                                                            <th>Size</th>
                                                            <th>Color</th>
                                                            <th>Qty</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="product in productOrders">
                                                            <td>{{product.ProductName}}</td>
                                                            <td>{{product.Size}}</td>
                                                            <td>{{product.Color}}</td>
                                                            <td>{{product.Qty}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
