@{
    ViewBag.Title = "_LayoutHOMEYMT";
    Layout = "~/Views/Shared/_LayoutHOMEYMT.cshtml";
}
@model int
<body ng-controller="mainController" ng-init="YMTPNoteData(@Model)">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h2 class="text-bold" ng-show="StatusRole == 0">
                                    PNOTE-SearchData
                                </h2>
                                <h2 class="text-bold" ng-show="StatusRole == 1">
                                    PNOTE-AddNewData
                                </h2>
                                <h2 class="text-bold" ng-show="StatusRole == 2">
                                    PNOTE-UpdateData
                                </h2>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="text-center mt-sm-0 mt-3 text-sm-end">
                                        <button type="button" class="btn btn-primary" ng-click="ChecKStaus('0');">
                                            <i class="mdi mdi-search-web me-1"></i> Search
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="ChecKStaus('1');">
                                            <i class="mdi mdi-new-box me-1"></i> New
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="ChecKStaus('2');">
                                            <i class="mdi mdi-update me-1"></i> Update
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row" ng-show="StatusRole == 0">
                            <div class="col-12">
                                <div class="tab-content mt-3">
                                    <div class="tab-pane show active" id="form-row-preview">
                                        <form>
                                            <div class="row">
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> BrandCode</h4>
                                                    <select ng-model="CustomerSearch" class="form-control form-control-xl text-bold" ng-change="GetListCustomerSearch(CustomerSearch);"
                                                            ng-options="x for x in GetMasterCustomesData"></select>
                                                </div>
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> BrandName</h4>
                                                    <input type="text" class="form-control form-control-xl" ng-model="ListBrandName">
                                                </div>
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> Season</h4>
                                                    <select ng-model="SeasonSearch" class="form-control form-control-xl" ng-change="GetSearchStylesName(CustomerSearch ,SeasonSearch);"
                                                            ng-options="x for x in GetSearchListSeason"></select>
                                                </div>
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> StyleName</h4>
                                                    <select ng-model="StyleNameSearch" class="form-control form-control-xl" ng-change="GetSearchOrderNo(CustomerSearch ,SeasonSearch ,StyleNameSearch);"
                                                            ng-options="x for x in GetSearchListStylename"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-md-3">
                                                    <h4 class="text-bold"> OrderNo</h4>
                                                    <select ng-model="OrderNoSearch" class="form-control form-control-xl" ng-change="GetSearchTypeName(CustomerSearch ,SeasonSearch ,StyleNameSearch, OrderNoSearch);"
                                                            ng-options="x for x in GetSearchListOrderName"></select>
                                                </div>
                                                <div class="mb-1 col-md-3">

                                                    <h4 class="text-bold">TypeName</h4>
                                                    <select ng-model="TypeNameSearch" class="form-control form-control-xl" ng-change="GetSearchdatafile(CustomerSearch ,SeasonSearch ,StyleNameSearch, OrderNoSearch, TypeNameSearch);"
                                                            ng-options="x for x in GetSearchListTypename"></select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" ng-show="StatusRole == 0">
                            <div class="tab-content">
                                <div class="tab-pane show active" id="default-buttons-preview">
                                    <div class="button-list text-center">
                                        <button type="button" class="btn btn-warning" ng-click="ClearData();">ClearData</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*ADD NEW UPLOADFILE*@
                        <div class="row" ng-show="StatusRole == 1">
                            <div class="col-12">
                                <div class="tab-content mt-3">
                                    <div class="tab-pane show active" id="form-row-preview">
                                        <form>
                                            <div class="row">
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> BrandCode</h4>
                                                    <select ng-model="MasterCustomer" class="form-control form-control-xl text-bold" ng-change="GetMasterSeason(MasterCustomer);"
                                                            ng-options="x for x in MasterCust"></select>
                                                </div>
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> BrandName</h4>
                                                    <input type="text" class="form-control form-control-xl" ng-model="ListCodeName.CustomerName">
                                                </div>
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> Season</h4>
                                                    <select ng-model="SeasonName" class="form-control form-control-xl" ng-change="GetMasterStyleName(MasterCustomer ,SeasonName);"
                                                            ng-options="x for x in ListSeason"></select>
                                                </div>
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> StyleName</h4>
                                                    <select ng-model="StyleName" class="form-control form-control-xl" ng-change="GetMasterOrderNo(MasterCustomer ,SeasonName ,StyleName);"
                                                            ng-options="x for x in ListStylename"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-md-3">
                                                    <h4 class="text-bold"> OrderNo</h4>
                                                    <select ng-model="OrderNo" class="form-control form-control-xl"
                                                            ng-options="x for x in ListOrderName"></select>
                                                </div>
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold">TypeName</h4>
                                                    <select id="TypeName" class="form-control form-control-xl " ng-model="TypeName">
                                                        <option>MRP</option>
                                                        <option>PACKING</option>
                                                        <option>SIZE BREAK DOWN</option>
                                                        <option>SPEC SHEET</option>
                                                        <option>SWATCH CARD</option>
                                                        <option>P-NOTED</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3 col-md-3">
                                                    <h4 class="text-bold"> FileUpload</h4>
                                                    <input class="form-control form-control-xl" type="file" id="fileInput" ng-model="fileInput">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" ng-show="StatusRole == 1">
                            <div class="tab-content">
                                <div class="tab-pane show active" id="default-buttons-preview">
                                    <div class="button-list text-center">
                                        <button type="button" class="btn btn-success" ng-click="uploadFiles()">Upload</button>
                                        <button type="button" class="btn btn-success" ng-click="ClearData();">ClearData</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*ADD NEW UPLOADFILE*@
                        @*UPDATE FILE*@
                        <div class="row" ng-show="StatusRole == 2">
                            <div class="col-12">
                                <div class="tab-content mt-3">
                                    <div class="tab-pane show active" id="form-row-preview">
                                        <form>
                                            <div class="row">
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> BrandCode</h4>
                                                    <select ng-model="UploadLoadCustomer" class="form-control form-control-xl text-bold" ng-change="GetNameCustomer(UploadLoadCustomer);"
                                                            ng-options="x for x in GetMasterCustomesData"></select>
                                                </div>
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> BrandName</h4>
                                                    <input type="text" class="form-control form-control-xl" ng-model="ListNameCustomer.BrandName">
                                                </div>
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> Season</h4>
                                                    <select ng-model="SeasonUpdateName" class="form-control form-control-xl" ng-change="GetUpateStyles(UploadLoadCustomer ,SeasonUpdateName);"
                                                            ng-options="x for x in GetListSeason"></select>
                                                </div>
                                                <div class="mb-1 col-md-3">
                                                    <h4 class="text-bold"> StyleName</h4>
                                                    <select ng-model="StyleNameUpdate" class="form-control form-control-xl" ng-change="GetUpdateOrderNo(UploadLoadCustomer ,SeasonUpdateName ,StyleNameUpdate);"
                                                            ng-options="x for x in GetListStylename"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-md-3">
                                                    <h4 class="text-bold"> OrderNo</h4>
                                                    <select ng-model="OrderNoUpdate" class="form-control form-control-xl" ng-change="GetUpdateTypeName(UploadLoadCustomer ,SeasonUpdateName ,StyleNameUpdate, OrderNoUpdate);"
                                                            ng-options="x for x in GetListOrderName"></select>
                                                </div>
                                                <div class="mb-1 col-md-3">

                                                    <h4 class="text-bold">TypeName</h4>
                                                    <select ng-model="TypeNameUpdate" class="form-control form-control-xl" ng-change="GetDataUpdatefile(UploadLoadCustomer ,SeasonUpdateName ,StyleNameUpdate, OrderNoUpdate , TypeNameUpdate);"
                                                            ng-options="x for x in GetListTypename"></select>
                                                </div>
                                                <div class="mb-3 col-md-3">
                                                    <h4 class="text-bold"> FileUpload</h4>
                                                    <input class="form-control form-control-xl" type="file" id="fileInputs" ng-model="fileInputs">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" ng-show="StatusRole == 2">
                            <div class="tab-content">
                                <div class="tab-pane show active" id="default-buttons-preview">
                                    <div class="button-list text-center">
                                        <button type="button" class="btn btn-warning" ng-click="uploadUpdateFiles()">Update</button>
                                        <button type="button" class="btn btn-warning" ng-click="ClearData();">ClearData</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1" ng-show="StatusRole == 0">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th>BrandCode</th>
                                            <th>BrandName</th>
                                            <th>Season</th>
                                            <th>StyleName</th>
                                            <th>OrderNo</th>
                                            <th>TypeName</th>
                                            <th>FileName</th>
                                            <th>Openfile</th>
                                            <th>DownloadFile</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" ng-repeat="x in ListSearchData">
                                            <td>{{x.BrandCode}}</td>
                                            <td>{{x.BrandName}}</td>
                                            <td>{{x.Season}}</td>
                                            <td>{{x.StyleName}}</td>
                                            <td>{{x.OrderNo}}</td>
                                            <td>{{x.TypeName}}</td>
                                            <td class="text-nowrap">{{x.NewFileName}}</td>


                                            <td class="p-1">
                                                <button ng-click="openFile(x.Id)" class="btn btn-info btn-sm rounded-pill">Openfile</button>
                                            </td>
                                            <td class="p-1">
                                                <a type="button" href="@Url.Action("Download", "Home")?Id={{x.Id}}" target="_blank" class="btn btn-info btn-sm rounded-pill">Download</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1" ng-show="StatusRole == 1">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class=" row table-responsive">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>BrandCode</th>
                                        <th>BrandName</th>
                                        <th>Season</th>
                                        <th>StyleName</th>
                                        <th>OrderNo</th>
                                        <th>TypeName</th>
                                        <th>FileName</th>
                                        <th>DownloadFile</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" ng-repeat="x in Listdata">
                                        <td>{{x.BrandCode}}</td>
                                        <td>{{x.BrandName}}</td>
                                        <td>{{x.Season}}</td>
                                        <td>{{x.StyleName}}</td>
                                        <td>{{x.OrderNo}}</td>
                                        <td>{{x.TypeName}}</td>
                                        <td class="text-nowrap">{{x.NewFileName}}</td>
                                        <td class="p-1">
                                            <a type="button" href="@Url.Action("Download", "Home")?Id={{x.Id}}" target="_blank" class="btn btn-info btn-sm rounded-pill">Download</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1" ng-show="StatusRole == 2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row table-responsive">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>BrandCode</th>
                                        <th>BrandName</th>
                                        <th>Season</th>
                                        <th>StyleName</th>
                                        <th>OrderNo</th>
                                        <th>TypeName</th>
                                        <th>FileName</th>
                                        <th>Revision</th>
                                        <th>RevisionDate</th>

                                        <th>DownloadFile</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" ng-repeat="x in Listdataupdate">
                                        <td>{{x.BrandCode}}</td>
                                        <td>{{x.BrandName}}</td>
                                        <td>{{x.Season}}</td>
                                        <td>{{x.StyleName}}</td>
                                        <td>{{x.OrderNo}}</td>
                                        <td>{{x.TypeName}}</td>
                                        <td>{{x.NewFileName}}</td>
                                        <td>{{x.Revision}}</td>
                                        <td>{{x.RevisionDate}}</td>
                                        <td class="p-1">
                                            <button type="button" class="btn btn-danger rounded-pill" ng-click="deldataupdate(x);">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

