/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Angular*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*Admin LTE*/
.main-footer{
	padding: 5px;
}


.form-control {
    background-color: lightgoldenrodyellow;
}

.card {
   margin-bottom: 0.5rem !important;
}

/*.form-control.btn {

}*/